**Exercise 2: Create markdown cell with title of the notebook**

# H1: Data Science Tools and Ecosystem

**Exercise 3 - Create a markdown cell for an introduction**

In this notebook, Data Science Tools and Ecosystem are summarized.

***Exercise 4 - Create a markdown cell to list data science languages***

Some of the popular languages that Data Scientists use are:  
1.Python  
2.Scala  
3.R

**Exercise 5 - Create a markdown cell to list data science libraries**

Some of the commonly used libraries used by Data Scientists include:   
- Keras  
- Numpy  
- Pandas

**Exercise 6 - Create a markdown cell with a table of Data Science tools**

**Data Science Tools:**


|S.No | Tools | 
| ------ | ------ |
| 1 | Apache Hadoop |
|2 | R Studio |
| 3 | Apache Spark |

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples**

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
a=6 
b=7
sum_res=a+b
print("Sum : ",sum_res)
sub_res=b-a
print("Sub : ",sub_res)
mul_res=a*b
print("Mul : ",mul_res)

Sum :  13
Sub :  1
Mul :  42

**Exercise 8 - Create a code cell to multiply and add numbers**

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

**Exercise 9 - Create a code cell to convert minutes to hours**

In [8]:
#This will convert 200 minutes to hours by diving by 60
minute=200
per_hour=60
res_conversion=minute/per_hour
print(res_conversion)

3.3333333333333335

**Exercise 10 - Insert a markdown cell to list Objectives**

**Objectives:**

List popular languages for Data Science:
* Python
* R
* SQL

**Exercise 11 - Create a markdown cell to indicate the Author's name**

## H2: Author : <tb>Pooja Kishore<tb>